
@{
    Layout = null;
}
@using ZyDMSystem.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AbsentRecord>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
    <link href="~/Content/css/page.css" rel="stylesheet" />
    <title>学生缺寝记录</title>
    <style type="text/css">
        #stu_table tr td {
            padding: 0px;
        }

        .checkbox {
            width: 0.8em;
            height: 0.8em;
        }

            .checkbox:hover {
                cursor: pointer;
            }
    </style>
</head>
<body>
    <form action="/AbsentRecord/Index" method="post">
        <div class="form-group" style="margin-left:1em;">
            <label for="Name">姓名：</label>
            <input type="text" name="Name" />
            <input type="submit" value="查询" class="btn btn-primary" style="margin-left:0.5em;" />
        </div>
    </form>
    <table class="table table-bordered table-hover text-center" id="stu_table">
        <tr class="bg-primary text-white">
            <th>姓名</th>
            <th>班级</th>
            <th>性别</th>
            <th>学号</th>
            <th>系部</th>
            <th>专业</th>
            <th>宿舍</th>
            <th>缺寝时间</th>
        </tr>
        @foreach (var stu in Model)
        {
            <tr class="text-center" style="line-height:39px;">
                <td>@stu.Student.Name</td>
                <td>@stu.Student.Class.ClassName</td>
                <td>@(stu.Student.Sex==true?"男":"女")</td>
                <td>@stu.Student.Account</td>
                <td>@stu.Student.Class.Major.Department.DepartmentName</td>
                <td>@stu.Student.Class.Major.MajorName</td>
                <td>
                    @stu.Student.Dorm.Dormitory.Name - @stu.Student.Dorm.DormNumber
                </td>
                <td>
                    @string.Format("{0:d}",stu.Date)
                </td>
            </tr>
        }
    </table>
    <div>
        @*分页*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        @*<span>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>*@
    </div>
    <script type="text/javascript">
        $(function () {
            $(".pagination").append("<span style='border-style:none;'>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>");

        })
    </script>
</body>
</html>