@{
    ViewBag.Title = "Index";
    Layout = null;
}
@{ 
    var userAdmin=Session["admin"] as Admin;
    var userDormAdmin = Session["dormAdmin"] as DormAdmin;
    var userStu = Session["stu"] as Student;
}
@using ZyDMSystem.Models
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css4")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    <style type="text/css">
        * {
            list-style: none;
            text-decoration: none;
        }

        body {
            padding-top: 0px;
        }

        .dropdown-item {
            height: 30px;
            line-height: 30px;
        }

        .left_menu {
            margin: 0px;
            padding: 0px;
        }
        .left_menu .row{
            color:black;
        }
         .left_menu .row:hover{
            color:black;
            opacity:0.7;
        }
        a.menu {
            color:white;
            font-size:24px;
        }
        a.menu:hover{
            text-decoration:none;
        }
        a.menu .row svg{
            margin-top:0.2em;
        }
        .left{
            padding:0px;
            margin:0px;
        }
        .left, .right {
            margin-top: 0.8em;
        }
        #navbarDropdownMenuLink font{
            font-size:18px;
            color:black;
        }
        #navbarDropdownMenuLink font:hover{
            font-size: 18px;
            color: blue;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light row" style="height:64px;">
        <div class="col-lg-5">
            <img src="~/Content/image/未标题-1.jpg" style="height:192px;" />
            <a class="navbar-brand" href="#">智云宿舍管理系统</a>
        </div>
        <div class="col-lg-5">
            <div>欢迎使用智云宿舍管理系统！现在是北京时间：<span id="nowTime"></span></div>
        </div>
        <div class="collapse navbar-collapse col-lg-2" id="navbarNavDropdown">
            <ul class="navbar-nav " style="line-height:76px;font-size:22px;">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        @if (userAdmin != null)
                        {
                            <font>@userAdmin.Name</font>
                        }
                        @if (userDormAdmin != null)
                        {
                            <font>@userDormAdmin.Name</font>
                        }
                        @if (userStu != null)
                        {
                            <font>@userStu.Name</font>
                        }
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width:80px;">
                        @if (userAdmin != null)
                        {
                            <a class="dropdown-item text-center" href="#" data-src="/Home/Personal/@userAdmin.ID">个人中心</a>
                        }
                        @if (userDormAdmin != null)
                        {
                            <a class="dropdown-item text-center" href="#" data-src="/Home/Personal/@userDormAdmin.ID">个人中心</a>
                        }
                        @if (userStu != null)
                        {
                            <a class="dropdown-item text-center" href="#" data-src="/Home/Personal/@userStu.ID">个人中心</a>
                        }
                        <a class="dropdown-item text-center" href="/Home/Quit">退出</a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-danger" href="/Home/Quit">退出</a>
        </div>
    </nav>
    <div class="row" style="margin:0px;padding:0px;">
        <div class="left col-lg-2">
            <ul class="left_menu">
                @if (userAdmin != null)
                {
                    <li>
                        <a href="#" data-src="/Home/About" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">后台首页</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/Department/Index" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">系部管理</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/Major/Index" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">专业管理</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/Classes/Index" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">班级管理</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/Student/Index" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">学生管理</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-src="/CheckIn/Index" href="#" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">入住记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-src="/AbsentRecord/Index" href="#" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">缺寝记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-src="/DormExchange/Index" href="#" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">调寝记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-src="/MoveOut/Index" href="#" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">迁出记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-src="/Dormitory/Index" href="#" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">楼宇管理</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a data-src="/DormAdmin/Index" href="#" class="menu">
                            <div class="row">
                                <div class="col-lg-9 text-center">楼宇管理员</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                }
                @if (userDormAdmin != null)
                {
                    <li>
                        <a href="#" data-src="/Home/About" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">后台首页</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/AbsentRecord/DormitoryStuAbsentRecord/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">入住登记</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/MoveOut/StuMoveOut/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">迁出登记</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/MoveOut/dAdminMoveIndex/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">迁出记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/Student/DormitoryStu/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">学生管理</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/AbsentRecord/AbsentRecordStu/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">学生缺寝</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/AbsentRecord/DormitoryStuAbsentRecord/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">缺寝记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/DormExchange/DormAdminExchangeIndex/@userDormAdmin.DormitoryID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">调寝记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                }
                @if (userStu != null)
                {
                    <li>
                        <a href="#" data-src="/Home/About" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">后台首页</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/AbsentRecord/MyRecord/@userStu.ID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">缺寝记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/DormExchange/ApplyExchange/@userStu.ID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">申请调寝</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="/DormExchange/MyApplyExchange/@userStu.ID" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">我的调寝记录</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">宿舍报修</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-src="" class="menu">
                            <div class="row">
                                <div class="text-center col-lg-9">电费充值</div>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right col-lg-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="right col-lg-10" id="my_content">
            <iframe src="About" width="100%" id="iframe_content" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onLoad="iFrameHeight()"></iframe>
        </div>
    </div>
    <div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 智云宿舍管理系统</p>
        </footer>
    </div>
    <script type="text/javascript">
        function getDate() {
            //获取当前时间
            var date = new Date();
            //格式化为本地时间格式
            var date1 = date.toLocaleString();
            //将时间写入span
            $("#nowTime").html(date1);
        }
        //使用定时器每秒向div写入当前时间
        setInterval("getDate()", 1000);


        $(".left_menu a.menu").click(function () {
            var src = $(this).attr("data-src");
            $("#iframe_content").attr("src", src);
        })

        $("a.dropdown-item").click(function () {
            var src = $(this).attr("data-src");
            $("#iframe_content").attr("src", src);
        })

        //iframe自适应高度
        function iFrameHeight() {
            var ifm = document.getElementById("iframe_content");
            var subWeb = document.frames ? document.frames["iframe_content"].document : ifm.contentDocument;
            if (ifm != null && subWeb != null) {
                ifm.height = subWeb.body.scrollHeight;
                ifm.width = subWeb.body.scrollWidth;
            }   
        }
    </script>
</body>
</html>

