
@{
    Layout = null;
}
@using ZyDMSystem.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Dormitory>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/css/page.css" rel="stylesheet" />
    <title>楼宇列表</title>
    <style type="text/css">
        #stu_table tr td {
            padding: 0px;
        }

        .checkbox {
            width: 0.8em;
            height: 0.8em;
        }

            .checkbox:hover {
                cursor: pointer;
            }

        label.error {
            color: red;
        }

        #Name-error {
            color: red;
        }
    </style>
</head>
<body>
    <form action="/Dormitory/Index" method="post">
        <div class="form-group" style="margin-left:1em;">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">
                添加楼宇
            </button>
            <label for="Name">楼宇名称：</label>
            <input type="text" name="Name" value="@ViewBag.Name" />
            <input type="submit" value="查询" class="btn btn-primary" style="margin-left:0.5em;" />
        </div>
    </form>
    <table class="table table-bordered table-hover text-center">
        <tr class="bg-primary text-white">
            <th>楼宇名称</th>
            <th>楼宇管理员</th>
            <th>操作</th>
        </tr>
        @foreach (var dormitory in Model)
        {
            <tr class="text-center" style="line-height:25px;">
                <td>@dormitory.Name</td>
                <td>
                    @foreach (var dormAdmin in dormitory.DormAdmin)
                    {
                        @dormAdmin.Name @:
                    }
                </td>
                <td>
                    <button class="btn btn-outline-info" data-toggle="modal" data-target="#EditDormitoryModel" data-whatever="@dormitory.DormitoryID">编辑楼宇</button>
                    <a href="/Dormitory/SetDormAdmin/@dormitory.DormitoryID" class="btn  btn-outline-primary">设置楼宇管理员</a>
                </td>
            </tr>
        }
    </table>
    <div>
        @*分页*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        @*<span>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>*@
    </div>
    <script type="text/javascript">
        $(function () {
            $(".pagination").append("<span style='border-style:none;'>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>");

            $("#AddDorm").validate({
                rules: {
                    Name: { required: true}
                },
                messages: {
                    Name: { required: "楼宇名称不能为空！" }
                }
            });
            $("#btn_addDorm").click(function () {
                $("#AddDorm").submit();
            })
        })
    </script>
</body>
</html>

<!-- 添加楼宇模态框 -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">添加楼宇</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Dormitory/AddDorm" method="post" id="AddDorm">
                    <div class="form-group">
                        <label>楼宇名称：</label>
                        <input type="text" name="Name" class="form-control" id="dName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_addDorm">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改提示模态框（Modal） -->
<div class="modal fade" id="EditDormitoryModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">修改老师信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Teacher/EditTeacher" id="editTeacherForm">
                    <input type="hidden" value="TeacherID" name="TeacherID" />
                    <div class="form-group">
                        <label class="control-label" for="TeacherName">老师姓名:</label>
                        <input type="text" name="TeacherName" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="editSubmit">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#EditDormitoryModel').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) //点击触发的按钮
        var dID = button.data('whatever') //获取传递的值
        var modal = $(this) //获得监控的模式框

        //模式框赋值
        $.ajax({
            type: "post",
            url: "/Dormitory/DormitoryDetail",
            dataType: "json",
            data: {
                "id": dID
            },
            success: function (data) {
                alert(data)
            },
            error: function () {
                alert('0')
            }
        });

    });
</script>