
@{
    Layout = null;
}
@using ZyDMSystem.Models
@model Dormitory
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SetDormAdmin</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
</head>
<body>
    <h2>您正在为 @Model.Name 设置管理员</h2>
    <form action="/Dormitory/SetDormAdmin" method="post">
        <input type="hidden" name="DormitoryID" value="@Model.DormitoryID" />
        <table class="table table-bordered table-hover">
            <tr class="bg-info">
                <th></th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>图片</th>
                <th>住址</th>
            </tr>
            @foreach (var dAdmin in ViewBag.dAdmin as List<DormAdmin>)
            {
                var check = false;
                foreach (var item in ViewBag.dormAdmin as List<DormAdmin>)
                {
                    if (dAdmin.DormAdminID == item.DormAdminID)
                    {
                        check = true;
                        break;
                    }
                    else
                    {
                        check = false;
                    }
                }
                <tr>
                    <td>
                        <input type="checkbox" name="DormAdminID" value="@dAdmin.DormAdminID" checked="@check" />
                    </td>
                    <td>@dAdmin.Name</td>
                    <td>@(dAdmin.Sex==true?"男":"女")</td>
                    <td>@dAdmin.Age</td>
                    <td>
                        <img src="~/Content/image/@dAdmin.Photo" alt="@dAdmin.Name" width="50" height="50" />
                    </td>
                    <td>@dAdmin.Address</td>
                </tr>
            }
        </table>
        <input type="submit"  value="保存" class="btn btn-primary" />
    </form>
</body>
</html>
