
@{
    Layout = null;
}
@using ZyDMSystem.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DormAdmin>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
    <link href="~/Content/css/page.css" rel="stylesheet" />
    <title>楼宇管理员管理</title>
    <style type="text/css">
        #stu_table tr td {
            padding: 0px;
        }
    </style>
</head>
<body>
    <form action="/DormAdmin/Index" method="post">
        <div class="form-group" style="margin-left:1em;">
            <a href="/DormAdmin/AddDormAdmin" class="btn btn-outline-primary">添加楼宇管理员</a>
            <label for="Name">姓名：</label>
            <input type="text" name="Name" />
            <input type="submit" value="查询" class="btn btn-primary" style="margin-left:0.5em;" />
        </div>
    </form>
    <table class="table table-bordered table-hover text-center" id="stu_table">
        <tr class="bg-primary text-white">
            <th>姓名</th>
            <th>性别</th>
            <th>工号</th>
            <th>电话</th>
            <th>地址</th>
            <th>管理楼宇</th>
            <th>操作</th>
        </tr>
        @foreach (var dAdmin in Model)
        {
            <tr class="text-center" style="line-height:39px;">
                <td>@dAdmin.Name</td>
                <td>@(dAdmin.Sex==true?"男":"女")</td>
                <td>@dAdmin.Account</td>
                <td>@dAdmin.Phone</td>
                <td>@dAdmin.Address</td>
                <td>
                    @if (dAdmin.DormitoryID != null)
                    {
                        @dAdmin.Dormitory.Name
                    }
                    else
                    {
                        @:无
                    }
                </td>
                <td>
                    <a href="/DormAdmin/EditDormAdmin/@dAdmin.ID" class="btn btn-info">编辑</a>
                    <a href="/DormAdmin/DeleteDormAdmin/@dAdmin.ID" class="btn btn-danger" onclick="return confirm('您确定要删除该学生吗？')">删除</a>
                </td>
            </tr>
        }
    </table>
    <div>
        @*分页*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        @*<span>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>*@
    </div>
    <script type="text/javascript">
        $(function () {
            $(".pagination").append("<span style='border-style:none;'>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>");
        })
    </script>
</body>
</html>