
@{
    Layout = null;
}
@using ZyDMSystem.Models
@model List<Class>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
    <script src="~/Scripts/jquery.validate.js"></script>
    <title></title>
    <style type="text/css">
        label.error, span.field-validation-error {
            color: red;
            margin-left: 1em;
        }

        input[type='text'], input[type='password'], input[type='file'], select {
            width: 14.5%;
            height: 30px;
        }
    </style>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">学生管理</li>
            <li class="breadcrumb-item"><a href="/Student/Index">学生列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">学生添加</li>
        </ol>
    </nav>
    <form id="AddForm" method="post" action="/Student/AddStu">

        <div class="form-group">
            <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#ExcelStu">
                使用Excel批量导入学生
            </button>
            <input name="file" type="file" id="file" style="display:none;" />
            <input type="button" id="btn-excel"
                   class="btn btn-outline-info" value="导入" />
        </div>

        <div class="form-group">
            <input type="hidden" name="State" value="未入住" />@*入住状态*@
            <input type="hidden" name="DormID" value="null" />@*宿舍*@
            <label for="Name">姓名：</label>
            <input type="text" name="Name" />
        </div>
        <div class="form-group">
            <label for="Sex">性别：</label>
            <input type="radio" name="Sex" value="true" checked />男
            <input type="radio" name="Sex" value="false" style="margin-left:2em;" />女
        </div>
        <div class="form-group">
            <label for="Account">学号：</label>
            <input type="text" name="Account" onblur="checkAccount()" />
        </div>
        <div class="form-group">
            <label for="Pwd">密码：</label>
            <input type="password" name="Pwd" />
        </div>
        <div class="form-group">
            <label for="Phone">电话：</label>
            <input type="text" name="Phone" />
        </div>
        <div class="form-group">
            <label for="Address">地址：</label>
            <input type="text" name="Address" />
        </div>
        <div class="form-group">
            <label for="ClassID">班级：</label>
            <select name="ClassID">
                <option class="chooseClass" value="">--请选择班级--</option>
                @foreach (var cl in Model)
                {
                    <option class="chooseClass" value="@cl.ClassID">@cl.ClassName</option>
                }
            </select>
        </div>
        <input type="button" class="btn btn-primary" id="btn_Add" value="添加" />
        <a href="/Student/Index" class="btn btn-outline-primary">返回</a>
    </form>
</body>
</html>
<!-- 导入Excel提示信息模态框 -->
<div class="modal fade" id="ExcelStu" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">使用Excel导入前请仔细阅读此条款</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>1.请确保您选择的文件类型为Excel文件</h6>
                <h6>
                    2.请确保您Excel文件中的格式,如有疑问请下载<a href="~/Excel/StuTest.xlsx">演示Excel文件</a>
                </h6>
                <h6>3.学号是学生的唯一凭证，不可重复插入,录入数据时请谨慎操作！</h6>
                <h6>4.请检查您要导入的文件信息，以免数据重复(此过程不可逆)</h6>
                <h6>5.导入学生密码默认为123456</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="show">我已仔细阅读</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $("#btn-excel").click(function () {
            //通过FormData构造函数创建一个空对象，存储格式为键，值
            var formData = new FormData();
            //将$("#file")jquery对象转换成$("#file")[0]js对象，还可以使用.get(0)，
            //这样才能取得js对象的属性和方法
            //multiple="multiple" 可上传多个文件，files[0] 取第一个
            var filename = $("#file")[0].files[0];
            if (filename == null || filename == "") {
                alert("请选择要导入的文件");
                $("#file").click();
                return;
            }
            if (filename != null) {
                formData.append('file', filename); //将文件转成二进制形式
                $.ajax({
                    type: "post",
                    url: "/Student/ExcelToUpload/",//"/控制器名/控制器内方法"
                    async: false,
                    contentType: false, //这个一定要写
                    processData: false, //这个也一定要写，不然会报错,序列化配合formData使用
                    data: formData,
                    dataType: 'json', //返回类型，有json，text，HTML。这里并没有jsonp格式，所以别妄想能用jsonp做跨域了。
                    success: function (data) {
                        alert(data);
                        location.href = "/Student/Index";
                    },
                    error: function () {
                        alert('发生未知错误！');
                    }
                });
            }
        });
    });

    //点击选择文件
    $("#show").click(function () {
        $("#file").click();
    })

    $("#btn_Add").click(function () {
        $("#AddForm").submit();
    });
    $("#AddForm").validate({
        rules: {
            Name: { required: true, checkSinogram: true, maxlength: 8, minlength: 2 },
            Account: { required: true, checkAccount: true },
            Pwd: { required: true, checkPwd: true },
            Phone: { required: true, checkPhone: true },
            Address: { required: true },
            ClassID: { required: true }
        },
        messages: {
            Name: { required: "姓名不能为空！", checkSinogram: "姓名只能由汉字组成！", maxlength: "姓名最多输入8个汉字！", minlength: "姓名最少输入两个汉字！" },
            Account: { required: "学号不能为空！", checkAccount: "学号为6位纯数字！" },
            Pwd: { required: "密码不能为空！", checkPwd: "密码组成为6-12位字母或数字！" },
            Phone: { required: "电话不能为空！", checkPhone: "请输入正确的电话！" },
            Address: { required: "住址不能为空！" },
            ClassID: { required: "请选择学生班级！" }
        }
    });
    $.validator.addMethod("checkPwd", function (date) {
        return /^[a-zA-Z0-9]{6,12}$/.test(date);
    })
    //验证姓名输入汉字
    $.validator.addMethod("checkSinogram", function (date) {
        var reg = new RegExp("[\\u4E00-\\u9FFF]+", "g");
        return reg.test(date);
    })
    //验证学号输入数字
    $.validator.addMethod("checkAccount", function (date) {
        return /^[0-9]{6}$/.test(date);
    });
    $.validator.addMethod("checkPhone", function (date) {
        return /^1[3456789]\d{9}$/.test(date);
    })
    function checkAccount() {
        var acc = $("input[name='Account']").val();
        $.ajax({
            url: "/Student/CheckAccount",
            type: "get",
            data: {
                Account: acc
            },
            success: function (data) {
                if (data == 0) {
                    alert('已有学生拥有该学号！,请重新输入！');
                }
            },
            error: function () {
                alert('发生了未知错误！')
            }
        })
    }
</script>