
@{
    Layout = null;
}
@using ZyDMSystem.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Student>
@{
    var mList=ViewBag.mList as List<Major>;
    var dList = ViewBag.dList as List<Department>;
    string[] stateList ={ "已入住", "未入住", "已迁出" };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
    <link href="~/Content/css/page.css" rel="stylesheet" />
    <title>学生管理</title>
    <style type="text/css">
        #stu_table tr td {
            padding: 0px;
        }

        .checkbox {
            width: 0.8em;
            height: 0.8em;
        }

            .checkbox:hover {
                cursor: pointer;
            }
    </style>
</head>
<body>
    <form action="/Student/Index" method="post">
        <div class="form-group" style="margin-left:1em;">
            <a href="/Student/AddStu" class="btn btn-outline-primary">添加学生</a>
            <label for="Name">姓名：</label>
            <input type="text" name="Name" />
            <input type="submit" value="查询" class="btn btn-primary" style="margin-left:0.5em;" />
        </div>
    </form>
    <table class="table table-bordered table-hover text-center" id="stu_table">
        <tr class="bg-primary text-white">
            <th>姓名</th>
            <th>班级</th>
            <th>性别</th>
            <th>学号</th>
            <th>电话</th>
            <th>地址</th>
            <th>系部</th>
            <th>专业</th>
            <th>宿舍</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        @foreach (var stu in Model)
        {
            <tr class="text-center" style="line-height:39px;">
                <td>@stu.Name</td>
                <td>@stu.Class.ClassName</td>
                <td>@(stu.Sex==true?"男":"女")</td>
                <td>@stu.Account</td>
                <td>@stu.Phone</td>
                <td>@stu.Address</td>
                <td>@stu.Class.Major.Department.DepartmentName</td>
                <td>@stu.Class.Major.MajorName</td>
                <td>
                    @if (stu.DormID == null)
                    {
                        if (stu.State == "已迁出")
                        {
                            <span>已迁出</span>
                        }
                        else
                        {
                            <span>该学生还没有宿舍！</span>
                            <a href="/Dorm/DistributeDorm/@stu.ID">去分配</a>
                        }

                    }
                    else
                    {
                        <span>@stu.Dorm.Dormitory.Name - @stu.Dorm.DormNumber</span>
                    }
                </td>
                <td>
                    @stu.State
                </td>
                <td>
                    @if (stu.State != "已迁出")
                    { 
                        <a href="/Student/EditStu/@stu.ID" class="btn btn-outline-info">编辑</a>
                    }
                    <a href="/Student/DeleteStu/@stu.ID" class="btn btn-outline-danger" onclick="return confirm('您确定要删除该学生吗？')">删除</a>
                </td>
            </tr>
        }
    </table>
    <div>
        @*分页*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        @*<span>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>*@
    </div>
    <script type="text/javascript">
        $(function () {
            $(".pagination").append("<span style='border-style:none;'>每页 @Model.PageSize 条记录,共 @Model.PageCount 页，当前第 @Model.PageNumber 页</span>");

        })
    </script>
</body>
</html>
